{% extends 'layout.html' %}

{% block title_content %}
<title>Aboutus</title>
{% endblock %}

{% block style_content %}
<style>
body {background-color: powderblue;}
h1 {text-align: center;}
h3 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
{% endblock %}

{% block page_content %}
<h1>About Us</h1>
<p> Software Training Institute holds the best and inevitable place in IT Software Training since 2005. We offer end to end IT solutions to our clients in Software Training, Consultancy and Development. Our Course Curriculum and Study Material always stands unique in industry. The trainers are Experienced MNC Professionals who follows corporate style of training focusing more on practical oriented sessions. All trainings are summarized with a project giving an edge to trainees to work in industry with confidence.</p>
<br><br>

<h1>Our Services</h1>
<h3>Development</h3>
<p> Our policy is to think like customers and work like developers.
We continue to be driven by values, powered by intellect and aspire to innovate constantly.
We upgrade ourselves to provide best experience to our clients with on time delivery. </p>
<br><br>

<h2>Training</h2>

<p> We build strong foundation for our students and help them in building successful IT Career through constant and in-depth learning. Along with teaching subject, we provide real time projects so that students can have a clear understanding of every topic.
    Our Methodology – Theory > Practical > Assignment > Certification > Resume Preparation > Attend Interviews  Get Job  <p></p>

<br><br>

<h2> Placement </h2>

<p> Placement is our priority. The company is tied up with nearly 400 companies.
Through  our training process, we groom each student so that the can attend interviews confidently.
We strive each day and are looking to raise the bar with every single milestone that we achieve as we move together towards the future.

We deal with both Freshers and Experienced Recruitments. </p>

<br><br>

<h2> Corporate Training</h2>

<p> Ascent Software is a leading Corporate Training provider in IT. Our trainings helps resources in expanding their skills and thus adding value in company growth. Today is a world of automation, machine learning, artificial intelligence and being in pace with market trends is our motto. Online training have made a rapid breakthrough in the world of technology. We now deal with all offline and online trainings.

To explore our clients and complete list of corporate trainings conducted, click ‘Complete List of Corporate Trainings’ </p>

<br><br>

<h2>Our Expertise</h2>

<p> Our expertise cover range of technologies from RPA Tools – UI Path, Automation Anywhere, Open Span; Digital Marketing; Cloud Trainings – AWS, DevOps, VMWARE, Linux; Python Full Stack, UI Development, Power BI, R Programming, Java Full Stack, Hadoop, Data Science , Python, Django Framework, Tableau, Machine Learning, Artificial Intelligence, Java, Spring, Hibernate, Angular, ReactJS, NodeJS, Dot Net, HTML5 … Check Courses</p>

<br><br>
<h2> Our Mission</h2>
<p> Our mission is to re-skill our people, upgrade as per changing market demands, provide best training, mobilize candidates in overall presentation skills, provide practical knowledge, schedule interviews and guiding professionals in choosing right career path </p>
{% endblock %}
