{% extends 'layout.html' %}
{% block title_content %}
<title></title>
{% endblock %}

{% block style_content %}
<style>
body {background-color: powderblue;}
h1   {color: green;}

h1 {text-align: center;}
h3 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
{% endblock %}

{% block page_content %}
<body  style="background-color:rgba(201, 76, 76, 0.3);">
<br><br>
<h1><u><b>Contact Us Real Time</b></u></h1>
<br><br>
<h2><b> Get In Touch With Software Solutions</b></h2>
    <p>. Reach us From 7 am to 9 pm on all Days</p>
    <p>. Book Free Demo Class</p>
    <p>. Avail Additional Discounts for a Batch</p>
    <p>. Understand our Real Time Training Methodology</p>
    <p>. Get Guidance from our well trained industry experts</p>
    <p>. Fill up the enquiry from and get all required details</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container" style="padding-top:20px">
  <div class="card" style="width: 30rem;">
    <div class="card-header">
        <h3>ContactUs</h3>
       {{contact_form.as_p}}
    <div class="form-group">
    <button type="submit" class="btn btn-primary">ContactUs</button>
</div>
    </div>
    <div class="card-body" >
    </div>
  </div>
</div>
</form>
</body>
{% endblock %}